var productType = function (type) {
    type += ''
    var obj = {
        '2': '2222',
        // @if NODE_ENV='dev'
        '3': '3333-dev'
        // @endif
        // @if NODE_ENV='pro'
        '3': '3333-pro'
        // @endif
    }
    return obj[type] ? obj[type] : ''
}

module.exports = {
    toFixed: toDecimalTwo,
    salesNumber: salesVolumeUnit,
    setOwnStoreStatus: setOwnStoreStatus,
    productType: productType
}
